<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:noNamespaceSchemaLocation="dubbo.xsd"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- 提供方应用信息，用于计算依赖关系 -->
	<!-- <dubbo:application name="ework-provider" /> -->

	<!-- 使用multicast广播注册中心暴露服务地址  目前不稳定  -->
	<!-- <dubbo:registry address="multicast://224.5.6.7:1234" /> -->

	<!-- 使用zookeeper注册中心暴露服务地址 -->
	<!-- <dubbo:registry address="zookeeper://127.0.0.1:2181" /> -->

	<!-- 用dubbo协议在20880端口暴露服务 -->
	<!-- <dubbo:protocol name="dubbo" port="20880" /> -->
	
	<!-- 应用信息，用于计算依赖关系  -->
	<dubbo:application name="${dubbo.application}" />
	
	<!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="${dubbo.protocol.port}" />
    
    <!-- 使用zookeeper注册中心进行注册   -->
    <dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}" client="curator" 
    	file="${user.home}/output/dubbo.cache"/>
    
    <!-- provider全局配置 -->
    <dubbo:provider retries="${dubbo.provider.retries}" timeout="${dubbo.provider.timeout}"  
    	loadbalance="${dubbo.provider.loadbalance}"/>
   	
</beans>